/*===================================*/
/*=====----- GLOBAL STYLES -----=====*/
/*===================================*/

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Montserrat:wght@400;700;900&display=swap");
@import url("./variables.css");

html,
body {
    padding: 0;
    margin: 0;
    background: var(--gray-light);
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

image,
svg {
    display: block;
    max-width: 100%;
}

.wrapper {
    width: 100%;
    padding: 46px 20px;
    margin: 0 auto;
}

.wrapper--content {
    max-width: var(--content-width);
}

.wrapper--intro {
    max-width: 808px;
}

@media (min-width: 64em) {
    .wrapper--intro {
        padding: 66px 20px;
    }
}

/*================================*/
/*=====----- TYPOGRAPHY -----=====*/
/*================================*/

html {
    font-size: 1rem;
    line-height: 1.6;
}

body {
    font-family: var(--font-montserrat);
    font-weight: normal;
    font-size: 20px;
    color: var(--gray-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.8em;
    font-family: var(--font-montserrat);
    font-weight: var(--font-weight-black);
    line-height: 1.2;
    color: var(--red);
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 25px;
}

h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-bold);
    font-size: 16px;
    color: var(--gray-dark);
}

.has-featured-flag {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.featured-flag {
    position: relative;
    z-index: -1;
    transform: matrix(1, -0.05, 0.05, 1, -10, 4);
    display: inline-block;
    padding: 8px 18px 7px 14px;
    background: var(--green);
    box-decoration-break: clone;
    font-size: 14px;
    line-height: calc(8 / 7);
    color: var(--gray-light);
    text-shadow: 2px 2px 0 var(--gray-dark);
}

a {
    font-weight: var(--font-weight-bold);
    text-decoration: underline 2px var(--red);
    text-underline-offset: 2px;
    color: inherit;
}

@media (min-width: 64em) {
    h1 {
        font-size: 61px;
    }

    h2 {
        font-size: 49px;
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: 18px;
    }

    .featured-flag {
        transform: matrix(1, -0.05, 0.05, 1, -30, 16);
        padding: 10px 18px 11px 15px;
        font-size: 18px;
    }
}

/*============================*/
/*=====----- INPUTS -----=====*/
/*============================*/

.field {
    position: relative;
    margin-bottom: 20px;
}

.field:last-child {
    margin-bottom: 0;
}

label,
input,
select,
textarea {
    display: block;
    font-family: var(--font-karla);
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
}

label {
    color: inherit;
}

.field label {
    position: absolute;
    inset: 50% auto auto 10px;
    z-index: 2;
    transform: translateY(-50%);
    opacity: 1;
    pointer-events: none;
    transition: opacity var(--transition);
}

.field.active label {
    opacity: 0;
}

input,
select,
textarea {
    width: 100%;
    padding: 7px 10px 6px;
    border: 1px solid var(--gray);
    border-radius: 3px;
    background: var(--gray-dark);
    color: var(--gray-light);
}
